/*
 *  共通スタイルシート
 */


/*********************************************************************
 * 本文
 ********************************************************************/
body                {   background-color      : #FFFAFA;
                        margin-left           : 0px;
                        margin-right          : 0px;
                        margin-top            : 0px;
                        margin-bottom         : 0px;
                        padding-left          : 6px;
                        padding-right         : 6px;
                        padding-top           : 0px;
                        padding-bottom        : 3px;
                        /*color                 : blue;*/
                        font-size             : 10pt;
                    }

/* ログイン */
body.login          {   background-color      : #ffffff;
                        margin-left           : 0px;
                        margin-right          : 0px;
                        margin-top            : 0px;
                        margin-bottom         : 0px;
                        padding-left          : 0px;
                        padding-right         : 0px;
                        padding-top           : 0px;
                        padding-bottom        : 0px;
                        /*color                 : blue;*/
                        font-size             : 10pt;
                    }

/* ログアウト */
body.logout         {   background-color      : #ffffff;
                        margin-left           : 0px;
                        margin-right          : 0px;
                        margin-top            : 0px;
                        margin-bottom         : 0px;
                        padding-left          : 0px;
                        padding-right         : 0px;
                        padding-top           : 0px;
                        padding-bottom        : 0px;
                        /*color                 : blue;*/
                        font-size             : 10pt;
                    }

/* トップメニュー */
body.v47topmenu     {   background-color      : #CCCC99;
                        margin-left           : 0px;
                        margin-right          : 0px;
                        margin-top            : 0px;
                        margin-bottom         : 0px;
                        padding-left          : 0px;
                        padding-right         : 0px;
                        padding-top           : 0px;
                        padding-bottom        : 0px;
                        /*color                 : blue;*/
                        font-size             : 10pt;
                        background-image     : url(./image/top_menu_back.gif);
                    }

body.v47topmenu a:hover     {   color                 : white;
                     			 background-color      : #CCCC99;
	
                    }

/* ヘッダ */
h1                  {   color                 : blue;
                        font-size             : 14pt;
                        font-weight           : bold;
                    }

h2                  {   color                 : blue;
                        font-size             : 12pt;
                        font-weight           : bold;
                    }

/* エラー画面用 */
span.user-err-title {   font-size   : 14pt;
                        font-weight : bold;
                        color       : #003090;
                    }
table.sys-err-title      {  font-size   : 14pt;
                            font-weight : bold;
                            color       : #c00010;
                            height : 30%;
                            width  : 100%;
                            text-align :center;
                          }

.error              {   /*background-color : #FFFFFF;*/
	                    font-size   : 10pt;
                        /*font-weight : bold;*/
                        color       : red;
	                }
.errors	            {   /*background-color : #FFFFFF;*/
	                    font-size   : 10pt;
                        /*font-weight : bold;*/
                        color       : red;
	                }
.success {
        color: blue;
        font-weight: bold;
        font-family: Arial, sans-serif;
}
.error-tanto {
/*	    color: #223322;
	    font-size : 10pt;
	    background-color: #eeeeee;*/
	    display: none;
}

/* メニュー */
span.userhead       {   font-size   : 8pt;
                        font-weight : bold;
                        color       : #000000;
                    }

span.user           {   font-size   : 10pt;
                        font-weight : bold;
                        color       : #000000;
                    }

/* ログアウト画面用 */
span.logout-msg     {   font-size   : 11px;
                    }

/*********************************************************************
 * テーブル
 ********************************************************************/
table               {   font-size             : 10pt;
                    }

table.title         {   background-color      : #cccc99;/*#CCCC99;*/
                        font-size             : 14px; /*12pt;*/
                        font-weight           : normal;
                        color                 : black;
                        background-image     : url(./image/body_header.gif);
                    }

table.title-footer  {   background-color      : #DDDDDD;
                        font-size             : 14px; /*12pt;*/
                        font-weight           : normal;
                        color                 : black;
                        background-image     : url(./image/body_footer.gif);
                    }

table.sub-title     {   background-color      : #d0d0d0;
                        font-size             : 11pt;
                        font-weight           : bold;
                        color                 : black;
                    }

/* ログイン画面用 */
td.login            {   background-color      : #CCCC99;/*#CCCC99;*/
                    }

/* エラー画面用 */
td.user-err-head    {   background-color      : #F3E8CF;
                        font-size   : 10pt;
                        font-weight : bold;
                    }
td.sys-err-head     {   background-color      : #ffe3e3;
                        font-size   : 10pt;
                        font-weight : bold;
                    }
td.user-err         {   background-color      : #F3E8CF;
                        font-size   : 10pt;
                    }

td.sys-err          {   background-color      : #ffe3e3;
                        font-size   : 10pt;
                    }
/* トップメニュー */
td.user-line        {   background-color      : #c6ef00;
                        }

/* 共通 */
table.normal        {   background-color      : #dddddd;
                        border-collapse: collapse;
                        border: solid 1px #ffffff;
                    }
table.head          {   background-color      : #a7caa6;
                    }
/* テーブルヘッダセル */
tr.head             {   background-color      : #DDDDDD;
                    }

th.head             {   background-color      : #F0E362;
                        font-weight           : normal;
                    }

th.normal           {   background-color      : #aaaaef;
                        font-weight           : normal;
                    }

/* テーブルセル */
td.head             {   background-color      : #F0E362;
                    }

/* カナ入力表 */
table.kana          {   background-color      : #e4dac6;
                        empty-cells           : hide;
                    }

td.kana-head        {   background-color      : #599775;
                        color                 : #ffffff;
                        font-weight           : bold;
                    }

td.kana             {   background-color      : #f0f0f0;
                    }

/*********************************************************************
 * リンク
 ********************************************************************/
a:hover             {   color                 : white;
                        background-color      : #424973;
                    }

a.inner-link        {   font-size             : 8.5pt;
                    }

/*********************************************************************
 * フォーム
 ********************************************************************/

input               {   font-size             : 10pt;
                    }

select              {   font-size             : 10pt;
                    }

textarea            {   font-size             : 10pt;
                    }

p.p-button          {   margin                : 3px;
	                }

Li                  {   margin                : 1px;
	                }
Lo                  {   margin                : 1px;
	                }
/*********************************************************************
 * 入力項目の色分け用
 ********************************************************************/

/* キー項目 */
.item-key           {   color                 : #ad0839;
                        font-weight           : normal;
                    }

.item-key-b         {   color                 : #ad0839;
                        font-weight           : bold;
                    }

/* 必須項目 */
.item-must          {   color                 : #103090;
                        font-weight           : normal;
                    }

.item-must-b        {   color                 : #103090;
                        font-weight           : bold;
                    }

/* キー・必須以外のその他の項目 */
.item-normal        {   color                 : black;
                        font-weight           : normal;
                    }

.item-normal-b      {   color                 : black;
                        font-weight           : bold;
                    }

/*********************************************************************
 * 履修サブ用
 ********************************************************************/

table.rishu         {   background-color      : #DDDDDD
                    }

tr.rishu            {   background-color      : #DDDDDD
                    }

th.rishu-head       {   background-color      : #FFCC66;
                        font-size             : 10pt;
                        font-weight           : normal;
                    }

/* 未選択タブ */
td.rishu-tab        {   background-color      : #FFCC66;
                        font-size             : 10pt;
                    }

/* 選択タブ */
td.rishu-tab-sel    {   background-color      : #FF9966;
                        color                 : #000000;
                        font-size             : 10pt;
                        font-weight           : bold;
                    }

/* コマテーブル */
table.rishu-koma    {   background-color      : #ffffff;
                        font-size             : 10pt;
                    }

/* 各コマ内部のテーブル */
table.rishu-koma-inner { color                 : #000000;
                         font-size             : 10pt;
                       }

/* コマテーブルの曜日・時限ヘッダ */
td.rishu-koma-head  {   background-color      : #FF9966;
                        color                 : #000000;
                        font-size             : 9pt;
                        /*font-weight           : bold;*/
                    }

/* 集中講義一覧のテーブル */
table.rishu-etc     {   color                 : #000000;
                        font-size             : 10pt;
                    }

/* 集中講義一覧のヘッダ */
td.rishu-etc-head   {   background-color      : #FF9966;
                        color                 : #000000;
                        font-size             : 10pt;
                        /*font-weight           : bold;*/
                    }

/* 時間割入力の入力項目ヘッダ */
td.rishu-head       {   background-color      : #FFCC66;
                        font-size             : 10pt;
                    }

/* 受講者数調べの合計のヘッダ */
td.rishu-count-sum  {   background-color      : #c0e0c0;
                        color                 : #000000;
                        font-size             : 10pt;
                        font-weight           : bold;
                    }

/*********************************************************************
 * 成績サブ用
 ********************************************************************/

/* 実施内容登録 */
th.seiseki-naiyo-head  {   
                             background-color        : #99CC33;
                             text-align              : left;
                             height                  : 30px;
                           }

tr.seiseki             {   background-color      : #DDDDDD;
                           }

/* テーブルヘッダ色 */
th.seiseki-head        {   background-color      : #99CC33;
                               font-size             : 10pt;
                               font-weight           : normal;
                           }

td.seiseki-head        {   background-color      : #99CC33;
                               font-size             : 10pt;
                           }

/* 成績入力状況凡例 */
td.si-sts-guide        {   background-color      : #87CEFA;
                           }

/* 評価凡例／評語 */
tr.si-hyoka-legend     {   background-color      : #CCFF66;
                               text-align            : center;
                           }

/* 評価凡例／評価ガイド */
tr.si-hyoka-guide      {   background-color      : #DDDDDD;
                           }

/* 評価セル */
td.si-hyoka            {   background-color      : #666666;
                               color                 : #FFFFFF;
                               text-align            : center;
                               font-size             : 11pt;
                           }

/* 評価セル(エラー) 2012/06/05 S.Sato ADD */
td.si-hyoka-err        {   background-color      : #dc143c;
                               color                 : #FFFFFF;
                               text-align            : center;
                               font-size             : 11pt;
                           }

/* 評価入力用 */
input.si-hyoka         {   font-size             : 11pt;
                               ime-mode              : inactive;
                               border-color          : #FFFFFF
                           }

/* 学生個別修正入力用 */
a.si-hyoka             {   font-size             : 11pt;
                               color                 : #FFFFFF;
                           }

/* 操作ガイダンス */
.si-ope-guide          {   background-color      : #666666;
                               font-size             : 11pt;
                               color                 : #FFFFFF;
                               /*font-weight           : bold;*/
                           }

/* 操作警告ガイダンス */
.si-ope-warning        {   color                 : #990000;
                               font-weight           : normal;
                           }

/* 操作エラーガイダンス */
.si-ope-error          {   color                 : #FF0000;
                               font-weight           : bold;
                           }

/* ブラウザ操作警告ガイダンス */
.si-bope-warning       {   color                 : #000080;
                               font-weight           : normal;
                           }

/* 成績入力状況 */
.si-iptsts-noinput     {   color                 : #FF0000;
                           }

.si-iptsts-comp        {   color                 : #008000;
                           }

.si-iptsts-fix         {   color                 : #0000FF;
                           }

.si-iptsts-other       {   color                 : #000000;
                           }

/* 一覧行の高さ */
td.si-td-height        {   padding      : 5px 0;
                           }


/*********************************************************************
 * 判定サブ用
 ********************************************************************/

table.hantei        {   background-color      : #DDDDDD
                    }

tr.hantei           {   background-color      : #DDDDDD
                    }

th.hantei-head      {   background-color      : #FFCC66;
                        font-size             : 10pt;
                        font-weight           : normal;
                    }
td.hantei-head      {   background-color      : #FFCC66;
                        font-size             : 10pt;
                    }



/* 判定結果 留年 */
font.hantei-ryunen {
  font-weight : bold;
  color : red;
}

/* 判定結果 進級 */
font.haneti-sinkyu {
  font-weight : bold;
  color : black;
}

/* 判定結果 卒業 */
font.hantei-sotsugyo {
  font-weight : bold;
  color : black;
}

/* 判定結果 不合格 */
font.haneti-fugokaku {
  font-weight : bold;
  color : red;
}

/* 判定結果 合格 */
font.hantei-gokaku {
  font-weight : bold;
  color : black;
}





/*********************************************************************
 * 学籍サブ用
 ********************************************************************/

/* 学生カルテ用スタイル(キャリアカルテ用スタイルと併用する場合に使用) s-tanimu ADD 2011/09/09 */
body.gakuseki       {   background-color      : #FFFAFA;
                        margin-left           : 0px;
                        margin-right          : 0px;
                        margin-top            : 0px;
                        margin-bottom         : 0px;
                        padding-left          : 6px;
                        padding-right         : 6px;
                        padding-top           : 0px;
                        padding-bottom        : 3px;
                        color                 : black;/
                        font-size             : 10pt;
                    }

a:gakuseki          {   color                 : blue;
                    }

a:link.gakuseki     {   color                 : blue;
                    }

a:hover.gakuseki    {   color                 : white;
                        background-color      : #424973;
                        outline               : none
                    }
                    
table.gakuseki      {   font-size: 12px;
                        line-height: 16px;
                    }

tr.gakuseki         {   background-color   : #CCCCCC;
                    }

td.gakuseki-head    {   background-color   : #99ccff;
                        text-align         : center;
                    }

td.gakuseki         {   background-color   : #DDDDDD;
                    }

.gakuseki-link-chk  {   background-color   : #99ccff
                    }
.gakuseki-link-nochk{   background-color   : #CCCCCC
                    }

.zaigaku            {   background-color   : #fe6666
                    }
.shugyo             {   background-color   : #99fe66
                    }
.ryugaku            {   background-color   : #fefe66
                    }
.kyugaku            {   background-color   : #99fefe
                    }
.teigaku            {   background-color   : #cc66cc
                    }
/*********************************************************************
 * 就職サブ用
 ********************************************************************/

table.shushoku      {   background-color      : #DDDDDD
                    }

tr.shushoku-head    {   background-color      : #DDDDDD
                    }

tr.shushoku         {   background-color      : #FFFFF2
                    }

th.shushoku-head    {   background-color      : #00CCCC
                    }

th.shushoku		    {   background-color      : #FFCC99
                    }

td.shushoku-head    {   background-color      : #FFCC99
                    }

td.shushoku         {   background-color      : #FFCC99
                    }

td.shushoku-male    {   background-color      : #87CEFA
                    }

td.shushoku-female  {   background-color      : #FFB6C1
                    }

/*********************************************************************
 * アンケートサブ用
 ********************************************************************/

table.enquete       {   background-color      : #ffffff
                    }

tr.enquete          {   background-color      : #DDDDDD
                    }

th.enquete-head     {   background-color      : #9FB7C0;
                        font-size             : 10pt;
                        font-weight           : normal;
                    }

/* アンケート種別ヘッダ用 */
table.enq-shubetsu-head
                    { /*background-color      : #FFCC66;*/
                        color                 : #0000ff;
                        font-size             : 12pt;
                        font-weight           : normal;
                    }

/* アンケート一覧のタイトルセル用 */
td.enq-list-title   {   font-size             : 11pt;
                        font-weight           : normal;
                    }

/* アンケート一覧のリンクセル用 */
td.enq-list-link    {   background-color      : #efefef;
                        font-size             : 9pt;
                    }

/* アンケート一覧の情報セル用 */
td.enq-list-info    {   font-size             : 9pt;
                    }

/* 集計済み */
font.enq-shukeizumi {   color                 : #0033cc;
                        font-size             : 10pt;
                        font-weight           : bold;
                    }

/* 未集計 */
font.enq-mishukei   {   color                 : #cc3333;
                        font-size             : 10pt;
                        font-weight           : bold;
                    }

/* 公開 */
font.enq-kokai      {   color                 : #0033cc;
                        font-size             : 10pt;
                        font-weight           : bold;
                    }

/* 非公開 */
font.enq-hikokai    {   color                 : #cc3333;
                        font-size             : 10pt;
                        font-weight           : bold;
                    }

/* アンケート回答のタイトル */
table.enq-ans-title {   background-color      : #D5DDE3;
                        /*color                 : #0000ff;*/
                        font-size             : 14pt;
                        font-weight           : bold;
                    }

/* アンケート回答のメッセージ */
font.enq-ans-msg    {   font-size             : 12pt;
                        font-weight           : bold;
                    }

/* アンケート回答の確認メッセージ */
font.enq-ans-confirm {   font-size             : 12pt;
                         font-weight           : bold;
                         color                 : #0000ff;
                     }

/* アンケート回答の設問全体 */
table.enq-ans-q     {   background-color      : #e0e0e0;
                        font-size             : 10pt;
                    }

/* アンケート回答の設問 */
td.enq-ans-q        {   background-color      : #9FB7C0;
                        font-size             : 11pt;
                        font-weight           : bold;
                    }

/* アンケート回答の設問選択数 */
font.enq-ans-q-sel  {   font-size             : 9pt;
                        font-weight           : normal;
                    }

/*********************************************************************
 * 掲示サブ用
 ********************************************************************/
table.keiji-head    {   background-color      :   #CC99CC;
                    }

table.keiji-block   {   background-color      :   #CC99CC;
                        font-size: 12pt;
                        padding-left: 5px;
                        padding-bottom 2px;
                        padding-top: 2px; 
                    }

table.keiji-normal  {   /*background-color      :   #ffffff;*/
                    }

tr.keiji-input      {   background-color      :   #ffe4e1;
                    }

th.keiji-normal     {   /*background-color      :   #ffffff;*/
                        text-align: left;

                    }

td.keiji-normal     {   /*background-color      :   #ffffff;*/
                    }

th.keiji-input      {   background-color      :   #daC3d6;
                    }
.keiji-naiyo        {   font-size: 11pt;
                        padding-top: 20px;
                        padding-bottom: 30px;
                        padding-left: 10px;

                    }
.keiji-title        {   font-size: 12pt;
                        font-weight: bold;
                        padding: 5px;
                        height: 30px;
                    }
.keiji-t-genre      {   font-size:  10pt;
                        font-weight: normal;
                    }


/*********************************************************************
 * シラバスサブ用
 ********************************************************************/

table.syllabus-normal{   background-color      : #D5DDBB;
                        border-collapse: collapse;
                        border: solid 1px #ffffff;
                    }

table.syllabus-frame{   background-color      : #C2A3AB;
                        border-collapse: collapse;
                        border: solid 1px #ffffff;
                    }

th.syllabus-normal  {   background-color      :  #A3B3C2;
                     /*   text-align            :  left;*/
                    }
                    
th.syllabus-top-info{   background-color      :  #D3B4BC;
						padding: 3px;
						font-weight: normal;

                     /*   text-align            :  left;*/
                    }

td.syllabus-input   {   background-color      :  #C2A3AB;
                     /*   text-align            :  left;*/
                    }

.syllabus-prin		{	font-weight:		bold;
						color:				#ffffff;
						padding: 3px;
						background-color:	#9c6b7b;
					}

.syllabus-prin2   {   background-color      :  #D3B4BC;
						padding: 3px;
						font-weight: normal;
                        /*text-align            :  left;*/
                    }

/*********************************************************************
 * 休講補講サブ用
 ********************************************************************/
table.kyuko {
  background-color : #DDDDDD
}

tr.kyuko {
  background-color : #DDDDDD
}

th.kyuko-head {
  background-color : #FFCC66;
  font-size        : 10pt;
  font-weight      : normal;
}

td.kyuko-cond-head {
  background-color : #e4dac6;
  font-size        : 10pt;
  font-weight      : bold;
}

td.kyuko-cond-input {
  background-color : #e4dac6;
  font-size        : 10pt;
  font-weight      : normal;
}

/* 表示項目名 */
td.kyuko-refer {
  background-color : #ccccff;
  font-weight      : bold;
}

/* 入力項目名 */
td.kyuko-input {
  background-color : #ccccff;
  font-weight      : bold;
}

/* 入力画面表示項目名（副従科目） */
td.kyuko-input-disp {
  background-color : #ffcc99;
}


/* 入力不可項目 */
td.kyuko-no-input {
  background-color : #dddddd;
  font-weight      : bold;
}

input.kyuko-no-input {
  background-color : #eeeeee;
}

textarea.kyuko-no-input {
  background-color : #eeeeee;
}

select.kyuko-no-input {
  background-color : #eeeeee;
}

/* 休講補講 テーブル全体（空のコマの色もこれ） */
table.kyuko-kyukohoko {
  background-color : #dddddd;
}

/* 休講補講 日と時限 */
th.kyuko-date-jigen {
  background-color : #ffcc99;
  font-weight      : normal;
}

/* 休講補講 色分けの凡例説明用 */
span.kyuko-color {
  font-size: 8pt;
}

/* 休講補講 開講（初期状態） */
.kyuko-kaiko {
  background-color : #f0f0f0;
}

/* 休講補講 開講（教室変更） */
.kyuko-kyoshitsu {
  background-color : #ffffcc;
}

/* 休講補講 休講 */
.kyuko-kyuko {
  background-color : #ffcccc;
}

/* 休講補講 補講 */
.kyuko-hoko {
  background-color : #ccffcc;
}

/* 休講補講 実習 */
.kyuko-jishu {
  background-color : #ccccff;
}

.kyuko-cal-donichi {
  background-color : #ccffcc;
}

.kyuko-cal-kyujitsu {
  background-color : #ffcccc;
}

.kyuko-cal-gozenkyu {
  background-color : #ffc0ff;
}

.kyuko-cal-gogokyu {
  background-color : #d0b0ff;
}

.kyuko-cal-jishu {
  background-color : #ccccff;
}

.kyuko-cal-shiken {
  background-color : #d0b0ff;
}

/* カレンダー 無効な日（4/31など） */
.kyuko-cal-muko {
  background-color : #cccccc;
}

/* カレンダー 平日 （施設管理 週表示で使用） */
.kyuko-cal-heijitsu {
  background-color : #ffcc99;
}

/* カレンダー 初期状態 */
.kyuko-cal-normal {
  background-color : #f0f0f0;
}
/* 休日マスタ テーブル */
table.kyuko-cal {
  background-color : #dddddd;
  border-collapse  : collapse;
  border           : solid 1px #cccccc;
  table-layout     : fixed;
}

/* 休日マスタ 月ヘッダ */
th.kyuko-cal-month {
  background-color : #8B0F05;
  color            : white;
  font-weight      : normal;
}

/* 休日マスタ 日ヘッダ */
th.kyuko-cal-day {
  background-color : #2D2A6F;
  color            : white;
  font-weight      : normal;
}

/* 主副従科目 主科目ヘッダ */
td.kyuko-shukamoku {
  background-color : #ffcccc;
  font-size        : 12pt;
  font-weight      : bold;
}

/* 主副従科目 副科目ヘッダ */
td.kyuko-fukukamoku {
  background-color : #ccffcc;
  font-size        : 12pt;
  font-weight      : bold;
}

/* 主副従科目 従科目ヘッダ */
td.kyuko-jyukamoku {
  background-color : #ccccff;
  font-size        : 12pt;
  font-weight      : bold;
}

/* 施設管理 テーブル全体（空の時間の色もこれ） */
table.kyuko-shisetsu {
  background-color : #888888;
  table-layout     : fixed;
}
table.kyuko-shisetsu-nofixed {
  background-color : #ffffff;
}

/* 施設管理 時間による色わけ */
td.kyuko-shi-am {
  background-color : #ddffff;
}

td.kyuko-shi-pm {
  background-color : #ffdd99;
}

td.kyuko-shi-night {
  background-color : #ddddff;
}

td.kyuko-shi-am-jigen {
  background-color : #99ffff;
}

td.kyuko-shi-pm-jigen {
  background-color : #ffcc30;
}

td.kyuko-shi-night-jigen {
  background-color      : #ccccff;
}

/* 施設管理 左上隅の空白セル */
td.kyuko-shi-lefttop {
  background-color : #cccccc;
}

/* 施設管理 施設名のセル */
td.kyuko-shi-shisetsunm {
  background-color : #eeeeee;
}

/* 施設管理 利用登録されたセル（td以外にも使う） */
/*   利用区分コードに対応して設定する            */
.kyuko-shi-yoyaku-01 {
  background-color : #ffffcc;
}

.kyuko-shi-yoyaku-02 {
  background-color : #ffdddd;
}

/* 施設管理 授業があるセル（td以外にも使う） */
.kyuko-shi-jugyo {
  background-color : #dddddd;
  color            : #000000;
}

/* ポータル */
#portalLeft {
    width: 33%;
    float: left;
}

#portalCenter {
    width: 33%;
    float: left;
}

#portalRight {
    width: 33%;
    float: left;
}

iframe.portal {	
	scrolling: auto;
	width: 100%;
}

h1.portal {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 2px;
    border: 2px solid;
    font-size: 12px;
    color: #009090;
    background: #e0e0e0;
    border-top-color: #999933;
    border-bottom-color: #999933;
    border-left-color: #999933;
    border-right-color: #999933;
    background-image: url(./image/portlet_left.gif);
    background-repeat: no-repeat;
}

#portal {
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    background: #f0f0f0;
}

#portal-data {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: #f0f0f0;
}

table.portal-header  {
    background-image  : url(./image/portal_header_back.gif);
    width             : 100%;
    height            : 60px;
    margin            : 0px;
    padding           : 0px;
    border-spacing    : 0px;
}


TABLE.portlet-teikishiken
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #f0f0f0;
    border-spacing: 0px
}
TD.portlet-teikishiken-header
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 3px;
    COLOR: #404040;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #e0e0e0
}
TD.portlet-teikishiken-nodata
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 16px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
TD.portlet-teikishiken
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 16px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
TD.portlet-teikishiken-shikenjikan
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 32px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
TD.portlet-teikishiken-shikenkamoku
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 40px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
TD.portlet-teikishiken-shikenbiko
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 40px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
TD.portlet-teikishiken-report
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 16px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
TD.portlet-teikishiken-none
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 16px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}

/* ポータル 休講補講 */

td.portlet-kyukohoko-header
{
    padding-right: 3px;
    padding-left: 3px;
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 3px;
    color: #404040;
    padding-top: 3px;
    background-color: #e0e0e0
}

td.portlet-kyukohoko-title
{
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px
}

td.portlet-kyukohoko-data
{
    padding-right: 3px;
    padding-left: 16px;
    padding-bottom: 3px;
    padding-top: 3px
}

td.portlet-kyukohoko-nodata
{
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px
}

td.portlet-kyukohoko-later-link
{
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 18px
}

/* ポータル アンケート */

table.portlet-enquete
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    width: 100%;
    padding-top: 0px;
    background-color: #f0f0f0;
    border-spacing: 0px
}
td.portlet-enquete-header
{
    padding-right: 3px;
    padding-left: 3px;
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 3px;
    color: #404040;
    padding-top: 3px;
    background-color: #e0e0e0
}
td.portlet-enquete-nodata
{
    padding-right: 3px;
    padding-left: 16px;
    padding-bottom: 3px;
    padding-top: 3px
}
td.portlet-enquete
{
    padding-right: 12px;
    padding-left: 16px;
    padding-bottom: 1px;
    padding-top: 3px
}
td.portlet-enquete-status
{
	text-align: right;
    padding-right: 12px;
    padding-left: 3px;
    padding-bottom: 9px;
    padding-top: 1px
}


/* みなし曜日の色 */
td.minashi-cal-youbi {
  background-color : #ff6666;
}



/*********************************************************************
 * 入試サブ用
 ********************************************************************/
th.simulation-head
{
    background-color      : #99CC33;
    font-size             : 10pt;
    font-weight           : normal;
}

td.simulation-head
{
    background-color      : #99CC33;
    font-size             : 10pt;
}

th.simulation-refer-head
{
    background-color      : #FFCC66;
    font-size             : 10pt;
    font-weight           : normal;
}

td.simulation-refer-head
{
    background-color      : #FFCC66;
    font-size             : 10pt;
}

/*********************************************************************
 * 履修計画サブ用
 ********************************************************************/
/* 操作ガイダンス */
.cd-ope-guide       {   background-color      : #666666;
                        font-size             : 11pt;
                        color                 : #FFFFFF;
                    }
.cd-required        {   font-size             : 9pt;
                        color                 : #FF6666;
                        vertical-align        : top;
                        padding-left          : 1pt;
                    }
/* メッセージ */
.cd-message         {   font-size             : 14pt;
                        color                 : #FF0000;
                        font-weight           : bold;
                    }
/* テーブル */
table.keikaku       {   background-color      : #dddddd;
                        border-collapse       : collapse;
                        border-style          : solid;
                        border-color          : #FFFFFF;
                    }

tr.keikaku          {   background-color      : #dddddd;
                    }

th.keikaku-head     {   background-color      : #FFCC66;
                        font-size             : 10pt;
                        font-weight           : normal;
                    }
th.keikaku-koma     {   background-color      : #FF9966;
                        font-size             : 10pt;
                        font-weight           : normal;
                    }
td.keikaku-koma-err {   background-color      : #FF6666;
                        font-size             : 10pt;
                        font-weight           : normal;
                        color                 : #FFFFFF;
                    }
/* フォーム */
input.menu-button   {   width:150;
                    }
input.add-button    {   width:20;
                        height:20;
                    }

/*********************************************************************
 * 履修カルテサブ用
 ********************************************************************/
th.rishukarte-normal     {   background-color   : #99ccff;
                             text-align         : center;
                         }

td.rishukarte-head       {   background-color   : #99ccff;
                             text-align         : center;
                         }
td.rishukarte            {   background-color   : #DDDDDD;
                         }

tr.rishukarte            {   background-color   : #CCCCCC;
                         }
/*********************************************************************
 * レポート管理サブ用
 ********************************************************************/
th.reportkanri-normal    {   background-color   : #99ccff;
                             text-align         : center;
                         }

td.reportkanri-head      {   background-color   : #99ccff;
                             text-align         : center;
                         }
td.reportkanri           {   background-color   : #DDDDDD;
                         }

tr.reportkanri           {   background-color   : #CCCCCC;
                         }
/*********************************************************************
 * 出欠サブ用
 ********************************************************************/

table.shukketsu     {
						  background-color      :#dddddd;
                          table-layout			:fixed;
                    }

tr.shukketsu        {   background-color      : #DDDDDD
                    }

td.shukketsu     {
                          background-color      : #dddddd;
                    }

th.shukketsu-head   {   background-color      : #FFCC66;
                        font-size             : 10pt;
                        font-weight           : normal;
                    }

/* 学生別出欠状況一覧の空行等背景色 */
td.shukketsu-kara   {   background-color      : #FFFAFA;
                        border-style          : hidden;
                    }

/* 出欠表示凡例の色 */
table.shukketsu-sample     {   background-color      : #FFFFFF;
                               border                : solid 1px #ff0000;
                           }

th.shukketsu-sample-head   {   background-color      : #FFCC66;
                               border                : solid 1px #ff0000;
                               font-size             : 10pt;
                               font-weight           : normal;
                           }

td.shukketsu-sample        {   background-color      : #DDDDDD;
                               border                : solid 1px #ff0000;
                               font-size             : 10pt;
                               font-weight           : normal;
                           }
                         
/*********************************************************************
 * アクセシビリティ対応
 ********************************************************************/

a.no-effect:link,
a.no-effect:visited,
a.no-effect:hover,
a.no-effect:active,
a.no-effect:focus          {   text-decoration :   none;
                                color           :   #000000;
                                cursor          :   default;
                            }
 