@charset "utf-8";

/*
 * https://kdb.tsukuba.ac.jp/syllabi/theme/default/newportal/portal_table.css
 */

/* border, margin, padding */
.bmp-none {
  border: none;
  margin: 0px;
  padding: 0px;
}
/* float */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* floatクリア */
.float-clear {
  clear: both;
}
.float-clearleft {
  clear: left;
}
.float-cleartop {
  clear: top;
}
/* 非表示 */
.display-hide {
  display: none;
}

/* text-align */
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

/* ポータルテーブル */
#portaltable {
  position: relative; /* pieのため */
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px transparent solid;
  margin: 0px;
  padding: 0px;
  empty-cells: show;
}
#portaltable tr {
  border: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
  vertical-align: top;
}
#portaltable td {
  border: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
  vertical-align: top;
}
.portalarea {
  position: relative; /* pieのため */
  border: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
  vertical-align: top;
}
/* #portaltable .portalarea-row {
}
#portaltable .portalarea-sp {
} */
#portaltable .portalarea-row-sp .space {
  height: 5px;
}
/* #portaltable .portalarea-sp-vfix {
} */
#portaltable .portalarea-sp-vfix .space {
  height: 5px;
}
/* #portaltable .portalarea-sp-hfix {
} */
#portaltable .portalarea-sp-hfix .space {
  width: 5px;
}

/* 列間隔のスペース用 */
#portaltable .space {
  border: none;
  margin: 0px;
  padding: 0px;
  width: 1px;
  height: 1px;
}

/* ポートレット */
.portlet {
  position: relative; /* pieのため */
  border-collapse: separate;
}
/* サイズ別ポートレット */
.portlet-3s {
  position: relative; /* pieのため */
  float: left;
  width: 37px;
  min-width: 37px;
  border: 1px transparent solid;
  margin: 5px;
  padding: 3px;
  text-align: left;
}
.portlet-2s {
  position: relative; /* pieのため */
  float: left;
  width: 90px;
  min-width: 90px;
  border: 1px transparent solid;
  margin: 5px;
  padding: 4px;
  text-align: left;
}
.portlet-s {
  position: relative; /* pieのため */
  float: left;
  width: 200px;
  min-width: 200px;
  border: 1px transparent solid;
  margin: 5px;
  padding: 4px;
  /*padding-bottom: 10px;*/
  text-align: left;
}
.portlet-m {
  position: relative; /* pieのため */
  float: left;
  width: 420px;
  min-width: 420px;
  border: 1px transparent solid;
  margin: 5px;
  padding: 4px;
  padding-bottom: 10px;
  text-align: left;
}
.portlet-l {
  position: relative; /* pieのため */
  float: left;
  width: 840px;
  min-width: 840px;
  border: 1px transparent solid;
  margin: 5px;
  padding: 4px;
  padding-bottom: 10px;
  text-align: left;
}
.portlet-full {
  position: relative; /* pieのため */
  border: 1px transparent solid;
  margin: 0px;
  padding: 0px;
  /*padding-bottom: 10px;*/
  text-align: left;
}
.portlet-free {
  position: relative; /* pieのため */
  float: left;
  border: 1px transparent solid;
  margin: 0px;
  padding: 0px;
  /*padding-bottom: 10px;*/
  text-align: left;
}

/* ポートレット用インナーボックス */
.portlet-box {
  position: relative; /* pieのため */
  /*display: none;*/
  border: none;
  margin: 0px;
  padding: 0px;
}
/* .portlet-full .portlet-box {
}
.portlet-free .portlet-box {
} */

/* メイン機能用ボックス */
#main-frame {
  position: relative; /* pieのため */
  zoom: 1;
  margin: 5px;
  padding: 4px;
}
/* メイン機能用フレーム */
#main-frame-if {
  position: relative; /* pieのため */
  zoom: 1;
  z-index: 0;
  display: none;
  border: none;
  margin: 0px;
  padding: 0px;
}
/* メイン機能用タイトルフレーム */
#main-frame-titlebox {
  width: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
}
/* 折り返し属性 */
.portlet-break {
  clear: both;
}
/* 空のbreak用ボックス */
/* .end-of-dummy {
} */

/* 規定タイトル */
.portlet-title {
  position: relative; /* pieのため */
  /*width: 100%;*/
  margin: 0px;
  margin-bottom: 5px;
  border: none;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  text-align: left;
  vertical-align: middle;
  background-color: transparent;
  /* CSS3 */
  /*background-image: linear-gradient(center top , #eeeecc, #ffffff);*/
  /* chrome safari */
  /*background: -webkit-gradient(linear, center top, center bottom, from(#eeeecc), to(#ffffff));*/
  /*background-image: -webkit-linear-gradient(center top , #eeeecc, #ffffff);*/
  /* firefox */
  /*background-image: -moz-linear-gradient(center top , #eeeecc, #ffffff);*/
  /*IE6 IE7 IE8? */
  /*filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#eeeecc, endcolorstr=#ffffff)";*/
  /* IE8? */
  /*-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#eeeecc, endcolorstr=#ffffff)";*/
  /* IE */
  /*  zoom: 1;*/
}
.portlet-full .portlet-title {
  margin: 0px;
}
.portlet-free .portlet-title {
  margin: 0px;
}
.portlet-title img {
  width: 16px;
  height: 16px;
  border: none;
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: top;
}

.portlet-title img.portlet-setting {
  cursor: pointer;
  float: right;
}

/* タイトルと連動して制御するためのクラス */
/* .portlet-title-linker {
} */

/* サイズ固定用クラス */
.fixsize-3s {
  width: 37px;
  min-width: 37px;
}
.fixsize-2s {
  width: 90px;
  min-width: 90px;
}
.fixsize-s {
  width: 200px;
  min-width: 200px;
}
.fixsize-m {
  width: 420px;
  min-width: 420px;
}
.fixsize-l {
  width: 840px;
  min-width: 840px;
}

/* ポータル設定デザイン用クラス */
/* ポートレット追加用ボックス */
.portletSelecter {
  background-color: #eee;
  border: 1px #999 solid;
  border-radius: 10px 10px 10px 10px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  text-align: center;
  vertical-align: top;
}
/* ポートレット追加用コンボ */
.portletSelecter select {
  background-color: #fff;
}
/* 各列の最後尾に表示するポートレット追加用ボックスの親（必ずclearする） */
.portletDesign-dummy {
  clear: both;
  position: relative; /* pieのため */
  border-collapse: separate;
}
/* デザイン時のメインポートレット表示用クラス */
#main-frame-design {
  height: 300px;
}

/* ポートレット編集用ボックス */
.portletDesigner {
  background-color: #eee;
  color: #333;
  border-top: 1px #999 solid;
  border-right: 1px #999 solid;
  border-bottom: none;
  border-left: 1px #999 solid;
  border-radius: 10px 10px 0px 0px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  font-size: 92%;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
/* ポートレット編集用ボックス内のイメージ */
.portletDesigner img {
  width: 16px;
  height: 16px;
  border: none;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: middle;
}

/* sortable helper class */
.portletDesign-helper {
  clear: both;
  position: relative;
  background: none repeat scroll 0 0 #ddddff;
  border: dotted 2px #0000ff;
  height: 30px;
}

/* ポータル設定編集用フォーム */
/* #portal-setting-form {
}
#portal-setting-form input {
} */
#portal-setting-form input.portal-color-style {
  width: 55px;
}

/* ポータル設定編集用エリア */
#portal-setting-area-bg {
  display: none;
  background-color: #777;
  border: none;
  margin: 0px;
  padding: 0px;
  height: 423px; /* script rewrite */
}
#portal-setting-area {
  z-index: 1001;
  position: fixed;
  top: 0px;
  left: 0px;
  position: relative;
  width: 1010px;
  display: none;
  background-color: #777;
  border: none;
  margin: 0px;
  padding: 10px;
  text-align: left;
}
/* ポータル設定タイトル */
#portal-setting-title {
  float: left;
  width: 125px;
  height: 24px;
  border: none;
  margin: 0px;
  padding: 3px;
  color: white;
  font-size: 125%;
  text-align: left;
  vertical-align: middle;
}
#portal-setting-title img {
  float: left;
  width: 24px;
  height: 24px;
  border: none;
  margin: 0px;
  margin-right: 5px;
  padding: 0px;
  vertical-align: middle;
}
#portal-setting-title p {
  margin: 0px;
  margin-top: 2px;
  padding: 0px;
  vertical-align: middle;
}
#portal-setting-area #portal-setting-targetbox {
  float: left;
  /*background-color: #999;*/
  border: none;
  margin: 0px;
  padding: 3px;
  color: white;
  text-align: left;
  vertical-align: middle;
}
#portal-setting-area #portal-setting-target {
  float: left;
  border: none;
  margin: 0px;
  padding: 0px;
}
#portal-setting-area #portal-setting-target-template {
  float: left;
  border: none;
  margin: 0px;
  margin-left: 5px;
  padding: 0px;
}
#portal-setting-area #portal-setting-target-btnbox {
  float: left;
  height: 24px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  vertical-align: middle;
}
#portal-setting-area #portal-setting-target-btnbox .button {
  float: left;
  margin: 0px;
  margin-left: 5px;
}

#portal-setting-template-selectbox {
  color: white;
  padding: 0 0 0 10px;
}

/* ポータル設定タブ */
#portal-setting-area .portal-setting-tab {
  z-index: 999;
  cursor: pointer;
  float: left;
  width: 110px;
  /*height: 20px;*/
  background-color: #ddd;
  border: 1px #999 solid;
  margin: 0px;
  padding: 3px;
  text-align: left;
  vertical-align: middle;
}
#portal-setting-area .portal-setting-tab-sel {
  z-index: 1000;
  background-color: #eee;
  border: 1px #666 solid;
  border-bottom: 1px #eee solid;
  font-size: 100%;
}
#portal-setting-area .portal-setting-tab img {
  float: left;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0px;
  margin-left: 10px;
  margin-right: 5px;
  padding: 0px;
  vertical-align: middle;
}
#portal-setting-area .portal-setting-tab p {
  margin: 0px;
  /*margin-top: 5px;*/
  padding: 0px;
  vertical-align: middle;
}
/* ポータル設定タブ外側のボックス */
#portal-setting-tab-box {
  z-index: -1;
  background-color: #eee;
  border: 1px #999 solid;
  border-top: 1px #eee solid;
  margin: 0px;
  margin-top: -1px;
  padding: 10px;
}
#portal-setting-tab-box .msg {
  float: left;
  border: none;
  margin: 0px;
  padding: 0px;
}
/* タブに対応する内側のボックス */
.portal-setting-box {
  border: none;
  margin: 0px;
  padding: 0px;
}
/* ポータル設定の内側ボックス内のグループ */
#portal-setting-colorgrp-box {
  float: left;
  border: none;
  margin: 0px;
  padding: 0px;
}
#portal-setting-colorgrp-box div {
  float: left;
}
#portal-setting-colorgrp-box ul {
  border: none;
  border-left: 1px #aaa solid;
  border-right: 1px #aaa solid;
  margin: 0px;
  padding: 0px;
  text-align: left;
  vertical-align: middle;
  list-style-type: none;
}
#portal-setting-colorgrp-box .portal-setting-group {
  float: left;
  background-color: #ddd;
  border: none;
  border-left: 1px #aaa solid;
  border-right: 1px #aaa solid;
  cursor: pointer;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: normal;
}
#portal-setting-colorgrp-box .portal-setting-group-sel {
  background-color: #dee;
  font-weight: bold;
}
#portal-setting-colorgrp-box .portal-setting-group img {
  float: left;
  width: 24px;
  height: 24px;
  border: none;
  margin: 0px;
  margin-left: 10px;
  margin-right: 5px;
  padding: 0px;
  vertical-align: middle;
}
#portal-setting-colorgrp-box .portal-setting-group p {
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}
/* タブに対応する内側のボックスのさらに内側 */
.portal-setting-inner {
  background-color: #fff;
  float: left;
  border: 1px silver solid;
  margin: 3px;
  padding: 0px;
  text-align: left;
  vertical-align: top;
}
/* inner内のタイトル（文字大） */
.portal-setting-inner p {
  background-color: #dee;
  margin: 2px;
  padding: 0px;
  padding-left: 5px;
  font-size: 100%;
  text-align: left;
}
/* inner内のタイトル（文字小） */
.portal-setting-inner span {
  font-size: 92%;
}
/* inner内の設定アイテムボックス */
.portal-setting-item {
  float: left;
  border: none;
  margin: 5px;
  padding: 0px;
}

/* inner内のテーブル */
.portal-setting-item .portal-setting-table {
  float: left;
  border: 1px solid #cccccc;
  margin: 5px;
  margin-top: 0px;
  padding: 0px;
}
.portal-setting-item .portal-setting-table th {
  background-color: #eee;
  border: 1px solid #dddddd;
  padding: 2px;
  font-weight: normal;
  text-align: center;
}
.portal-setting-item .portal-setting-table td {
  border: 1px solid #dddddd;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}
.portal-setting-item .portal-setting-table td.left {
  text-align: left;
}
.portal-setting-table .hover {
  background-color: #eee;
}
.portal-setting-table .select {
  background-color: #eed;
}
.portal-setting-item .portal-setting-table img {
  width: 16px;
  height: 16px;
  border: none;
  margin: 0px;
  padding: 0px;
}
.portal-setting-item .portal-setting-tablebox {
  float: left;
  border: none;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
  height: 210px;
}

/* inner内のボタンボックス */
#portal-setting-btnbox {
  float: left;
  margin: 5px;
  margin-right: 0px;
  padding: 5px;
  padding-bottom: 0px;
  text-align: left;
  vertical-align: top;
}

/* inner内のボタンdiv */
#portal-setting-area .button {
  display: block;
  margin: 15px 5px;
  text-align: left;
}
#portal-setting-area .button a {
  text-align: left;
  vertical-align: middle;
}
#portal-setting-area .button img {
  width: 16px;
  height: 16px;
  border: none;
  margin: 0px;
  margin-right: 5px;
  padding: 0px;
  vertical-align: middle;
}

/* コピー用UL */
#portal-setting-copy-tabs {
  border: none;
  margin: 5px;
  padding: 0px;
  overflow-y: scroll;
  height: 210px;
}
#portal-setting-copy-tabs ul {
  border: none;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* 保存用ボタンボックス */
#portal-setting-savebtnbox {
  margin: 0px;
  padding: 5px;
  padding-bottom: 0px;
  text-align: left;
  vertical-align: middle;
}
#portal-setting-savebtnbox .button {
  float: left;
  border: 2px #ccc solid;
  margin: 5px 15px 5px 5px;
  padding: 3px;
  vertical-align: middle;
}
#portal-setting-savebtnbox .button a {
  text-align: left;
  vertical-align: middle;
}
#portal-setting-savebtnbox .button img {
  width: 24px;
  height: 24px;
  border: none;
  margin: 0px;
  margin-right: 5px;
  padding: 0px;
  vertical-align: middle;
}
#portal-setting-savebtnbox p {
  margin: 0px;
  margin-top: 4px;
  color: #fff;
  text-align: left;
  vertical-align: middle;
}
#portal-setting-savebtnbox-btns {
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
}
#portal-setting-savebtnbox-btns .btns-msg {
  /*  margin-top: 14px; */
  margin-left: 10px;
  font-size: 92%;
}

/* ポートレット設定ダイアログ */
.portal-setting-dlg {
  display: none;
  border: none;
  margin: 0px;
  padding: 5px;
  font-size: 100%;
}
.portal-setting-dlg .portal-setting-dlg-acc {
  border: none;
  margin: 0px;
  padding: 5px;
}
.portal-setting-dlg .portal-setting-dlg-acc p {
  cursor: pointer;
  background-color: #dee;
  border: none;
  margin: 0px;
  padding: 3px;
  vertical-align: middle;
}
.portal-setting-dlg .portal-setting-dlg-acc p img {
  border: none;
  margin: 0px;
  margin-right: 2px;
  padding: 0px;
  vertical-align: middle;
}
.portal-setting-dlg .portal-setting-box {
  border: none;
  margin: 0px;
  margin-left: 15px;
  padding: 0px;
  vertical-align: middle;
}

.portal-setting-dlg .portal-setting-inner {
  float: none;
  border: none;
  margin: 0px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px;
}
.portal-setting-dlg .portal-setting-item {
  float: none;
}
.portal-setting-dlg .portal-setting-table {
  float: none;
}
.portal-setting-dlg .portal-setting-table tr {
  cursor: pointer;
}
#portal-setting-color-ptld .portal-setting-item {
  float: left;
}
/* #portal-setting-color-ptld input {
} */
#portal-setting-color-ptld input.ptld-color-style {
  width: 55px;
}

/* 機能追加設定ダイアログ */
#portal-setting-func-dlg .portal-setting-inner {
  margin-left: 0px;
}
#portal-setting-func-dlg .footer {
  padding: 3px;
}

/* アイコン選択ダイアログ */
#portal-setting-icons-dlg .portal-setting-inner {
  margin-left: 0px;
}

#portal-setting-icons-dlg-box ul {
  list-style-type: none;
}

#portal-setting-icons-dlg-box ul > li {
  border: 1px #cccccc solid;
  margin: 0px;
  padding: 3px;
  float: left;
  text-align: center;
  vertical-align: middle;
}
#portal-setting-icons-dlg-box ul > li > img {
  border: none;
  margin: 0px;
  padding: 0px;
  width: 24px;
  height: 24px;
}
#portal-setting-icons-dlg-box li.hover {
  background-color: #ccc;
}
#portal-setting-icons-dlg-box li.select {
  background-color: #999;
}

/* テンプレート一覧ダイアログ */
#portal-setting-temp-dlg .portal-setting-inner {
  margin-left: 0px;
}
#portal-setting-temp-dlg .footer {
  padding: 3px;
}

/* パラメータ設定ダイアログ */
/* #portlet-setting-param-dlg .portal-setting-inner {
  margin-left: 0px;
} */
#portlet-setting-param-dlg .footer {
  padding: 3px;
}
#portlet-setting-param-dlg .admin-msg {
  color: red;
}
