@charset "utf-8";

/*
 * https://kdb.tsukuba.ac.jp/syllabi/theme/default/newportal/portal_body.css
 */

/*
body, div, dl, dt, dd, ul, ol, li, h1, h2, h2, h3, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td  {  
    margin: 0;  padding: 0;  
}
*/
body,
input,
select,
textarea,
button {
  /* for Modan Browser (Firefox, Chrome, Safari, Opera), Mac IE5 */
  font: 12px/1.25 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo", "MS Pゴシック", "Osaka", "Arial", "sans-serif";
  /*font: 12px/1.25 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "MS Pゴシック", "Osaka", "Arial", "sans-serif";*/
  *font-size: small; /* for Win IE7, IE6 */
  *font: x-small; /* for Win IE in quirks mode */

  color: #333;
}

/* for Win IE8 ハック */
html>/**/body {
  font-size/*\**/: 12px\9;
  line-height: 1.25\9;
}

/* input系は、"ヒラギノ角ゴ Pro W3"、"メイリオ"を外す */
input,
select,
textarea {
  font-family: "Hiragino Kaku Gothic Pro", "MS Pゴシック", "Osaka", "Arial",
    "sans-serif";
  font-size: inherit;
  line-height: inherit;
}

/* inputでもボタンだけは、"ヒラギノ角ゴ Pro W3"、"メイリオ"を入れる */
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo", "MS Pゴシック", "Osaka", "Arial", "sans-serif";
  font-size: inherit;
  line-height: inherit;
}

h1 {
  font-size: 200%;
  color: inherit; /* StyleSheet.css wrapper */
}
h2 {
  font-size: 150%;
  color: inherit; /* StyleSheet.css wrapper */
}
h3 {
  font-size: 125%;
}
h4 {
  font-size: 100%;
}
h5 {
  font-size: 92%;
}
h6 {
  font-size: 83%;
}

table {
  font-size: inherit; /* for Modan Browser (Firefox, Chrome, Safari, Opera) */
  font: 100%; /* for Win IE in quirks mode, Mac IE5 */
  /*border-collapse: collapse;/*
  /*border-spacing: 2px;*/
}

a {
  color: #3333cc;
  text-decoration: none;
}
/*
a:link {
  color: #3333cc;
  text-decoration: none;
}
a:visited {
  color: #3333cc;
  text-decoration: none;
}
*/
a:hover {
  background-color: transparent; /* StyleSheet.css wrapper */
  color: #3333cc; /* StyleSheet.css wrapper */
  text-decoration: underline;
}

#portal-body {
  /*background-color: #fff;*/
  border: none;
  margin: 0px;
  padding: 0px;
  /*text-align: center;*/ /* IEバグ回避（センタリング） */
}

#client-area {
  text-align: left;
  vertical-align: top;
  border: none;
  margin: 0px;
  padding: 0px;
}
#header-span {
  text-align: left;
  vertical-align: top;
  border: none;
  margin: 0px;
  padding: 0px;
  /*padding-bottom: 2px;*/
}
#header-area {
  text-align: left;
  vertical-align: top;
  border: none;
  margin: 0px;
  padding: 0px;
}
#header-span #area-h1 {
  min-width: 1000px;
}
#logo-span {
  border: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 3px;
}
#logo-area {
  border: none;
  margin: 0px;
  padding: 0px;
}
#tab-span {
  border: none;
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
}
#tab-area {
  z-index: 1;
  border: none;
  margin: 0px;
  padding: 0px;
}
#tabmenu-span {
  z-index: -999;
  background: transparent;
  border: none;
  margin: 0px;
  margin-top: -1px;
  padding: 0px;
}
#tabmenu-area {
  position: relative; /* pieのため */
  border: 1px transparent solid;
  margin: 0px;
  padding: 0px;
}
#body-span {
  text-align: left;
  vertical-align: top;
  border: none;
  margin: 0px;
  padding: 0px;
}
#body-area {
  text-align: left;
  vertical-align: top;
  border: none;
  margin: 0px;
  margin-right: inherit;
  padding: 0px;
}
#footer-span {
  text-align: left;
  vertical-align: top;
  border: none;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
}
#footer-area {
  text-align: left;
  vertical-align: top;
  border: none;
  margin: 0px;
  padding: 0px;
  text-align: right;
  vertical-align: top;
}

/* clearfix */
.clearfix:after {
  content: "."; /* 新しい要素を作る */
  display: block; /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*/ /*/
  height: auto;
  overflow: hidden;
  /**/
}
